{
  "root": true,
  "env": {
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "parser": "@typescript-eslint/parser"
  },
  "extends": [
    "@nuxtjs",
    "plugin:nuxt/recommended",
    "plugin:prettier/recommended",
    "prettier",
    "prettier/vue"
  ],
  "plugins": ["@typescript-eslint", "prettier"],
  "rules": {
    "no-console": "off",
    "no-unused-vars": "off",
    "standard/computed-property-even-spacing": "off"
  }
}
