@import "~bulma/sass/utilities/_all";

$primary: #16a085;
$primary-invert: findColorInvert($primary);

::selection {
  background-color: lighten($color: $primary, $amount: 60);
}

$colors: (
  "white": (
    $white,
    $black
  ),
  "black": (
    $black,
    $white
  ),
  "light": (
    $light,
    $light-invert
  ),
  "dark": (
    $dark,
    $dark-invert
  ),
  "primary": (
    $primary,
    $primary-invert
  ),
  "info": (
    $info,
    $info-invert
  ),
  "success": (
    $success,
    $success-invert
  ),
  "warning": (
    $warning,
    $warning-invert
  ),
  "danger": (
    $danger,
    $danger-invert
  )
);

$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

.navbar.is-dark.nav {
  background-color: darken($color: $primary, $amount: 20);
  &::after {
    background-color: darken($color: $primary, $amount: 20);
  }
}
body::after {
  content: "";
  height: 10rem;
  width: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  background-color: darken($color: $primary, $amount: 20);
}

aside {
  margin-top: 5rem;
}

.navbar + .container {
  margin-top: 2rem;
}

@import "~bulma";
@import "~buefy/src/scss/buefy";
@import "overwrites.scss";
