html {
  font-size: 107%;
}

table.table td,
table.table th {
  vertical-align: middle;
}

.card {
  border-radius: 0.2rem;
}

.menu-list a {
  display: inline-block;
  padding: 0.5em 1em 0.5em 0.75em;
  border-radius: 2rem;
}

h1,
h2,
h3,
h4 {
  line-height: 1;
}

.footer {
  background: none;
}
