::selection {
  background-color: #ddd;
}

code {
  font-family: menlo, inconsolata, monospace;
  font-size: calc(1em - 2px);
  color: #555;
  background-color: #f0f0f0;
  padding: 0.2em 0.4em;
  border-radius: 2px;
}

[disabled] {
  pointer-events: none;
  opacity: 0.5;
}
