.middle-icon {
  vertical-align: middle;
}

.align-right {
  text-align: right;
}

.table-icon {
  height: 1.5rem;
  vertical-align: middle;
  margin-right: 0.25rem;
  border-radius: 100%;
  margin-top: -0.2rem;
}

main h1 {
  margin-bottom: 1rem;
}

main h2 {
  margin: 2rem 0 1rem 0;
}
