// Global
$text-color: #130f40;
$background-color: #f0f1f9;

// Links
$link-color: #714880;

// Buttons
$button-background-color: rgba(180, 0, 240, 0.03);
$button-text-color: #492257;
$button-disabled-background-color: #eee;
$button-primary-background-color: #492257;
$button-primary-text-color: #fff;
$button-info-background-color: #4285f4;
$button-info-text-color: rgba(100, 100, 255, 0.01);
$button-danger-background-color: #af1101;
$button-danger-text-color: rgba(255, 0, 0, 0.01);

// Dark theme
$dark-text-color: rgba(255, 255, 255, 0.95);
$dark-background-color: #121212;
$dark-background-color-lighter: #242424;
$dark-link-color: #fff;
$dark-button-background-color: rgba(255, 255, 255, 0.1);
$dark-button-text-color: #fff;
$dark-button-primary-border-color: #492257;
$dark-button-info-border-color: #4285f4;
$dark-button-danger-border-color: #af1101;
