// Colors
$color-white: #fff;
$color-light-gray: #f0f1f9;
$color-red: #c00;
$color-pink: #e91e63;
$color-dull-purple: #714880;
$color-purple: #9c27b0;
$color-deep-purple: #673ab7;
$color-blue: #3f51b5;
$color-cyan: #00bcd4;
$color-teal: #009688;
$color-green: #4caf50;
$color-light-green: #8bc34a;
$color-lime: #cddc39;
$color-yellow: #ffeb3b;
$color-amber: #ffc107;
$color-orange: #ff5722;
$color-brown: #795548;
$color-gray: #9e9e9e;
$color-blue-gray: #607d8b;
$color-black: #130f40;

// Theme
$color-primary: $color-deep-purple;
$text-color: $color-black;
$background-color: $color-light-gray;
$link-color: $color-dull-purple;

// Buttons
$button-background-color: rgba($color-deep-purple, 0.03);
$button-text-color: $color-primary;
$button-disabled-background-color: #eee;
$button-primary-background-color: $color-primary;
$button-primary-text-color: #fff;
$button-info-background-color: #4285f4;
$button-info-text-color: rgba(100, 100, 255, 0.01);
$button-success-background-color: #009432;
$button-success-text-color: rgba(100, 100, 255, 0.01);
$button-warning-background-color: #f79f1f;
$button-warning-text-color: rgba(100, 100, 255, 0.01);
$button-danger-background-color: #af1101;
$button-danger-text-color: rgba(255, 0, 0, 0.01);

// Dark theme
$dark-text-color: rgba(255, 255, 255, 0.95);
$dark-background-color: #151823;
$dark-background-color-lighter: #262934;
$dark-link-color: #fff;
$dark-button-background-color: rgba(255, 255, 255, 0.1);
$dark-button-text-color: #fff;
$dark-button-primary-border-color: $color-primary;
$dark-button-info-border-color: #4285f4;
$dark-button-danger-border-color: #af1101;
