@import "variables";

.prefers-color-scheme-dark {
  color: $dark-text-color;
  background-color: $dark-background-color;
  ::selection {
    background-color: rgba(255, 255, 255, 0.1);
  }
  a {
    color: $dark-link-color;
  }
  .card,
  .item.nuxt-link-active,
  .dropdown {
    background-color: $dark-background-color-lighter !important;
  }
  .button {
    color: $dark-button-text-color;
    background-color: $dark-button-background-color;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 0px 1px,
      rgba(0, 0, 0, 0.5) 0px 1px 1px 0px, rgba(0, 0, 0, 0.5) 0px 2px 5px 0px;
    &:hover {
      box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 0px 3px,
        rgba(0, 0, 0, 0.2) 0px 3px 3px 0px, rgba(0, 0, 0, 0.2) 0px 5px 7px 0px,
        inset rgba(255, 255, 255, 0.05) 0 0 10rem;
    }
    &:focus {
      box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 0px 3px,
        rgba(0, 0, 0, 0.4) 0px 3px 3px 0px, rgba(0, 0, 0, 0.4) 0px 5px 7px 0px,
        inset rgba(255, 255, 255, 0.1) 0 0 10rem;
    }
  }
  .button--color-primary {
    border: 1px solid $dark-button-primary-border-color;
    border-bottom-width: 2px;
  }
  .button--color-info {
    border: 1px solid $dark-button-info-border-color;
    border-bottom-width: 2px;
  }
  .button--color-danger {
    border: 1px solid $dark-button-danger-border-color;
    border-bottom-width: 2px;
  }
  input,
  select,
  code,
  .fake-checkbox {
    background-color: $dark-background-color !important;
    border: 1px solid #000 !important;
    color: #fff !important;
    &:focus {
      box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.25) !important;
    }
  }
  .icon--type-check,
  .modal-back .close {
    color: #fff !important;
  }
  .item.nuxt-link-active {
    color: #fff !important;
    box-shadow: -7px 10px 10px rgba(255, 255, 255, 0.02), 2px 0 0 #263238 !important;
  }
  .table tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.04);
  }
  .text--color-light {
    color: rgba(255, 255, 255, 0.5) !important;
  }
  .section--bg-white {
    background-color: #000 !important;
  }
}
