.container {
  position: relative;
  max-width: 1350px;
  margin: 0 auto;
  padding: 0 5vw;
}
.container--size-small {
  max-width: 400px;
}
.container--size-medium {
  max-width: 800px;
}
.container--top-20height {
  margin-top: 15vh;
}
.container--bottom-20height {
  margin-bottom: 15vh;
}
.container--type-padded {
  padding: 4rem 0 3rem 0;
}

@media (max-width: 500px) {
  .container--top-20height {
    margin-top: 10vh;
  }
  .container--bottom-20height {
    margin-bottom: 10vh;
  }
}

.row {
  display: flex;
  justify-content: space-between;
  > * {
    flex: 1 0 0;
    margin-right: 1rem;
    &:last-child {
      margin-right: 0;
    }
  }
  &.row--padding-large {
    > * {
      margin-right: 2rem;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .column--type-grow {
    flex-grow: 1;
  }
}

@media (max-width: 900px) {
  .row {
    display: block !important;
    > * {
      margin-right: 0;
      margin-bottom: 2rem;
      &:last-child {
        margin-bottom: 0;
      }
    }
    &.row--padding-large {
      > * {
        margin-right: 0;
      }
    }
  }
}

@media (max-width: 500px) {
  .hide-mobile {
    display: none !important;
  }
}
@media (min-width: 500px) {
  .hide-desktop {
    display: none !important;
  }
}
