@import "variables";

.text--color-white { color: $color-white }
.text--color-light-gray { color: $color-light-gray }
.text--color-red { color: $color-red }
.text--color-pink { color: $color-pink }
.text--color-dull-purple { color: $color-dull-purple }
.text--color-purple { color: $color-purple }
.text--color-deep-purple { color: $color-deep-purple }
.text--color-blue { color: $color-blue }
.text--color-cyan { color: $color-cyan }
.text--color-teal { color: $color-teal }
.text--color-green { color: $color-green }
.text--color-light-green { color: $color-light-green }
.text--color-lime { color: $color-lime }
.text--color-yellow { color: $color-yellow }
.text--color-amber { color: $color-amber }
.text--color-orange { color: $color-orange }
.text--color-brown { color: $color-brown }
.text--color-gray { color: $color-gray }
.text--color-blue-gray { color: $color-blue-gray }
.text--color-black { color: $color-black }

.bg--color-white { background-color: $color-white }
.bg--color-light-gray { background-color: $color-light-gray }
.bg--color-red { background-color: $color-red }
.bg--color-pink { background-color: $color-pink }
.bg--color-dull-purple { background-color: $color-dull-purple }
.bg--color-purple { background-color: $color-purple }
.bg--color-deep-purple { background-color: $color-deep-purple }
.bg--color-blue { background-color: $color-blue }
.bg--color-cyan { background-color: $color-cyan }
.bg--color-teal { background-color: $color-teal }
.bg--color-green { background-color: $color-green }
.bg--color-light-green { background-color: $color-light-green }
.bg--color-lime { background-color: $color-lime }
.bg--color-yellow { background-color: $color-yellow }
.bg--color-amber { background-color: $color-amber }
.bg--color-orange { background-color: $color-orange }
.bg--color-brown { background-color: $color-brown }
.bg--color-gray { background-color: $color-gray }
.bg--color-blue-gray { background-color: $color-blue-gray }
.bg--color-black { background-color: $color-black }

.icon--mr-1 {
  margin-right: 0.25rem;
}
.icon--ml-1 {
  margin-left: 0.25rem;
}
.icon--ml-2 {
  margin-left: 0.5rem;
}
.icon--color-danger {
  color: #e74c3c;
}
.icon--color-success {
  color: #2ecc71;
}
.icon--color-gold {
  color: #f1c40f;
}

.text--size-small {
  font-size: 80%;
}
.text--lh-1 {
  line-height: 1.25;
}
.text--lh-16 {
  line-height: 1.6;
}
.text--color-light {
  color: #555;
}
.text--align-right {
  text-align: right;
}
.text--align-center {
  text-align: center;
}

.section--mt-05 {
  margin-top: 0.5rem;
}
.section--mt-1 {
  margin-top: 1rem;
}
.section--mt-2 {
  margin-top: 2rem;
}
.section--mt-4 {
  margin-top: 4rem;
}
.text--mt-05 {
  margin-top: 0.5rem;
}
.text--mt-1 {
  margin-top: 1rem;
}
.text--mt-2 {
  margin-top: 2rem;
}
.text--mt-4 {
  margin-top: 4rem;
}

.label--color-incomplete,
.label--color-incomplete_expired,
.label--color-trialing,
.label--color-active,
.label--color-past_due,
.label--color-danger,
.label--color-success,
.label--color-canceled,
.label--color-unpaid,
.label--color-open,
.label--color-paid,
.label--color-uncollectible {
  color: #fff !important;
}
.label.label--color-incomplete { background-color: $button-warning-background-color !important; }
.label.label--color-incomplete_expired { background-color: $button-danger-background-color !important; }
.label.label--color-trialing { background-color: $button-warning-background-color !important; }
.label.label--color-success { background-color: $button-success-background-color !important; }
.label.label--color-active { background-color: $button-success-background-color !important; }
.label.label--color-past_due { background-color: $button-danger-background-color !important; }
.label.label--color-danger { background-color: $button-danger-background-color !important; }
.label.label--color-canceled { background-color: $button-danger-background-color !important; }
.label.label--color-unpaid { background-color: $button-danger-background-color !important; }
.label.label--color-open { background-color: $button-danger-background-color !important; }
.label.label--color-paid { background-color: $button-success-background-color !important; }
.label.label--color-uncollectible { background-color: $button-warning-background-color !important; }
.label.label--color-danger { background-color: $color-red; color: #fff }
.label.label--color-success { background-color: $color-green; color: #fff }
.label.label--color-info { background-color: $color-blue; color: #fff }
.label.label--color-warning { background-color: $color-orange; color: #fff }
