.icon--mr-1 {
  margin-right: 0.25rem;
}
.icon--ml-1 {
  margin-left: 0.25rem;
}
.icon--ml-2 {
  margin-left: 0.5rem;
}
.icon--color-danger {
  color: #e74c3c;
}
.icon--color-success {
  color: #2ecc71;
}
.icon--color-gold {
  color: #f1c40f;
}

.text--size-small {
  font-size: 80%;
}
.text--lh-1 {
  line-height: 1.25;
}
.text--lh-16 {
  line-height: 1.6;
}
.text--color-light {
  color: #555;
}
.text--align-right {
  text-align: right;
}
.text--align-center {
  text-align: center;
}

.section--mt-05 {
  margin-top: 0.5rem;
}
.section--mt-1 {
  margin-top: 1rem;
}
.section--mt-2 {
  margin-top: 2rem;
}
.section--mt-4 {
  margin-top: 4rem;
}
